
*{
    color: darkblue;
}
/* h1{
    color: cornflowerblue;
}

p{
    color: darkseagreen;
}

span{
    color: deepskyblue;
} */


/* p{
    color: blueviolet;
}
#p3{
    color: aqua;
}

.p2{
    color: cyan;
    font-size: 30px;
}
p.p2{
    background-color: darkcyan;
} */

/* h1,p{
    color: blue;
} */

