/* div{
    background-color: aquamarine;
}
p{
    background-color: rgb(52, 177, 177);
}

h1{
    background-color: aqua;
}
span{
    background-color: blue;
} */

div{
    width: 200px;
    height: 50px;
    margin: 5px;
    background-color: rgb(10, 189, 129);
}
.box1{
    opacity: 1;
}
.box2{
    opacity: 0.8;
}
.box3{
    opacity: 0.5;
}
.box4{
    opacity: 0.2;
}